body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.video-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
